* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;

}
.ABC {
    width:300px;
}

h4 {
    text-align: center;
}
.abc {
    /* margin-top: auto; */
    padding: 15px;
}
.bt{
    border:1px solid black;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: x-small;
}
p{
    padding-top: 10px;
}
